<div class="container-fluid p-5">
    <div class="row">
        <div class="wrapper col-lg-3 col-md-6 col-sm-12" *ngFor="let card of arr">
            <div class="card mt-2" [ngClass]="{'bg-danger': card.status === false, 'bg-success': card.status === true }">
                <h5 class="card-header">{{card.id}}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{card.name}}</h5>
                    <button type="button" class="btn btn-primary mt-2" (click)="delete(card.id)">Удалить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="addNew row mt-4 align-items-center">
        <input class="form-control col-2 ml-3" type="text" name="" [(ngModel)]="name">
        <select id="my-select" class="form-control col-1 ml-3" name="" [(ngModel)]="status">
            <option [ngValue] = "true">ВКЛ</option>
            <option [ngValue] = "false">ВЫКЛ</option>
          </select>
        <button type="button" class="btn btn-primary ml-3" (click)="addCard()">Добавить</button>
    </div>
</div>